### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
### C template
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Doxygen
docs/

# CLion
.idea/

# build
build/

# Code Generator & Generated code
codegen/type_traits/build/
codegen/type_traits/tables.cpp
include/builtin_types.h
src/builtin_types.c
test/builtin_types.cpp

